.solid_border{
    border-style: solid;
    border-width: 5px;
    background: white;
    overflow: auto;
}
.main_block{
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: 10px solid;
    border-color: #fff;
    overflow: auto;
    
}
.column {

  float: left;
}

#green{
    border-color: white;
    border-width: 0px;
}
#orange{
    border: 0;
    text-align: right;    
    font-size: 13px;
    background:  #A8F0F0 ;
}
#red{
    border: 0;
    font-size: 17px;
    text-align: right;
    background:  #A8F0F0 ;
}
#blue{
    border-color:  #C2E9E9;
    background: #E8FBFB;
    padding: 15px;
    margin-top: 10px;
    border-width: 4px;
    width: 96%;
}
#blue1{
    border-color:  #C2E9E9;
    background: #E8FBFB;
    padding: 15px;
    margin-top: 10px;
    border-width: 4px;
}
#purple{
    background: #E8FBFB;
    border: 0;
    border-bottom: dashed
}

body {
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("images/background.png");
}

img {
  float: right;
  overflow: auto;
}

#dark_blue{
    border: 5px solid #529496;
    padding: 10px;
    margin-top: 15px;
    background-color: #73ced1;
    width: 15%;
    height: 2%;
}

a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
}
